.post {
  color: blueviolet;
}
.posts {
  padding: 10px;
}
.textForm{
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  grid-column-gap: 10px;
  grid-auto-rows: minmax(45px, auto);
}
.textForm textarea{
  resize: none;
  border-radius: 5px;
}
.textForm textarea:focus{
  outline: none;
}
.textForm button{
  background-color: #444444;
  color: #212121;
  font-size: 12px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
.textForm button:hover{
  background-color: #212121;
  color: #f1f1f1;

}
.textForm button:focus{
  outline: none;
}